################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileTools/.vs/FileTools/v15
/FileTools/bin
/FileTools/FileTools/node_modules
/FileTools/FileTools/irfanpath.txt
/FileTools/FileTools/files.txt
